:root {
    --color-primary-color: #8257E6;
    --color-body-color: #13131F;
    --color-body2: #141422;
    --color-light-color: #fff;
    --color-grey-color: #828282;
    --color-box-color: #212121;
    --color-line-gradient: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
    --color-btn-gradient: linear-gradient(90deg, rgba(130, 87, 230, 0.8) 0.2%, rgba(121, 48, 190, 0.648) 100%);
    --color-transparent: rgba(0, 0, 0, .65);

    --color-body-ligthMode: #F0F8FF;
    --color-body2-ligthMode: #e7f2fa;
}

:root {
    --font-family-dmsans: 'DM Sans', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}

@media (max-width: 992px){
    * {
        font-size: 92%;
    }
}

@media (max-width: 769px){
    * {
        font-size: 88%;
    }
}

@media (max-width: 480px){
    * {
        font-size: 84%;
    }
}

body {
    background-color: var(--color-body-color);
    font-family: var(--font-family-dmsans);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-body-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-color);
    border-radius: .5rem;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(200%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes backgroundScale {
    to {
        background-color: var(--color-primary-color);
        transform: scale(1.1);
    }
}

@keyframes scaleDelayed {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

header {
    position: fixed;
    background-color: var(--color-body-color);
    width: 100%;
    z-index: 100;
}

header.change {
    background-color: #060606;
    backdrop-filter: blur(10px);
}

header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
}

.container-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 5rem;
    width: 90%;
}

.container-header>a {
    color: var(--color-light-color);
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    z-index: 100;
}

.container-header>a>span {
    color: var(--color-primary-color);
}

#menu {
    z-index: 100;
}

#menu-bar {
    width: 25px;
    height: 40px;
    margin: 30px 0 20px 0;
    cursor: pointer;
}

.bar {
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color-primary-color);
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    display: none;
}

.nav-item {
    list-style: none;
    padding: .7rem 0;
}

.nav-item.change {
    display: none;
}

.nav-item > a {
    color: var(--color-light-color);
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-item > a:hover {
    color: var(--color-body-color);
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    position: fixed;
    z-index: 50;
    width: 0;
    height: 0;
    margin: 20px 0 100px 100px;
    background: radial-gradient(circle, rgba(130, 87, 230, 0.8), rgba(121, 48, 190, 0.648));
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.change {
    display: block;
}

.change .bar {
    background-color: var(--color-light-color);
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
}

.overlay.hidden {
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-transparent);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 5;
}

.switch {
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 13px;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-color);
    transition: .5s;
    border-radius: 0px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 0px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(0, 0, 0);
    transition: .5s;
}

.switch input:checked+.slider {
    background-color: var(--color-light-color);
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #000000;
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
}

#s-about {
    padding: 8rem 0;
}

.container-about {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 2.5rem;
}

@media (max-width: 769px){
    .banner{
        flex-direction: column-reverse;
        gap: 4rem;
        padding: 5rem 2.5rem;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-right: 5rem;
}

@media (max-width: 769px){
    .intro{
        text-align: center;
        margin-right: 0;
    }
}

.intro>h1 {
    color: var(--color-light-color);
    font-size: 2.6rem;
    font-family: var(--font-family-poppins);
    line-height: 3.3rem;
}

.intro>span {
    color: var(--color-primary-color);
    font-size: 2.5rem;
    font-family: var(--font-family-poppins);
    font-weight: 600;
    line-height: 3.3rem;
}

.typewrite::after {
    content: "|";
    margin-left: 8px;
    opacity: 1;
    animation: fade 1s infinite;
    color: var(--color-red);
}

.intro p {
    color: var(--color-grey-color);
    font-size: 1.4rem;
}

.actions {
    display: flex;
    gap: 1.5rem;
    padding-top: 1.5rem;
}

@media (max-width: 769px){
    .actions {
        align-items: center;
        justify-content: center;
    }
}

.actions-cv,
.actions-choose_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem 1.8rem;
    color: var(--color-light-color);
    background-image: var(--color-line-gradient);
    border-radius: 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.actions-choose_contact {
    background-image: none;
    border: 1px solid var(--color-primary-color);
}

.actions a:hover {
    background-image: var(--color-btn-gradient);
    transform: scale(0.95);
}

.picture {
    display: block;
    padding: 50px 25px 0 25px;
    background-image: var(--color-line-gradient);
    width: 100%;
    border-radius: 200px 41px 158px 75px;
}

@media (max-width: 769px){
    .picture{
        width: 85%;
        margin: 0 auto;
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about h2 {
    color: var(--color-light-color);
    font-size: 2rem;
}

.about p {
    color: var(--color-grey-color);
    font-size: 1.2rem;
    text-align: center;
    line-height: 180%;
}

#s-skills {
    padding: 8rem 0;
    background-color: var(--color-body2);
}

.container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.container-skills h2 {
    color: var(--color-light-color);
    padding-bottom: 2rem;
    font-size: 2rem;
}

.container-skills>span {
    max-width: 80%;
    padding-bottom: 5rem;
    color: var(--color-grey-color);
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.cards-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3.1rem;
}

.box-skills {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    background-color: var(--color-box-color);
    border-top-left-radius: 2.5rem;
    cursor: pointer;
    aspect-ratio: 1;
    transition: 0.2s;
}

.box-skills::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-image: var(--color-line-gradient);
    bottom: -0.1rem;
    left: 0;
}

.box-skills:hover {
    transform: scale(1.1);
}

.box-skills p {
    color: var(--color-primary-color);
    margin-bottom: .9rem;
    font-weight: 550;
    font-size: 1rem;
}

.box-skills img {
    width: 3rem;
}

#s-projects {
    padding: 8rem 0;
}

.container-projects {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.container-projects h2 {
    font-size: 2rem;
    color: var(--color-light-color);
    padding-bottom: 5rem;
    font-weight: 600;
    text-align: center;
}

.cards-projects {
    display: flex;
    align-items: center;
    gap: 2.3rem;
    flex-wrap: wrap;
}

@media (max-width: 480px){
    .cards-projects{
        justify-content: center;
        margin: 0 1.2rem;
    }

    .cards-projects > img{
        width: 100%;
    }
}

.box-projects {
    position: relative;
    min-width: 30%;
    transition: .3s;
}

.box-projects:hover {
    position: relative;
    transform: scale(1.2);
    z-index: 1;
}

.cards-projects .cover {
    position: relative;
    cursor: pointer;
}

.cards-projects .cover::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-transparent);
}

.cards-projects .cover::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: .3rem;
    bottom: .1rem;
    background-image: var(--color-line-gradient);
}

.cover>img {
    width: 100%;
}

.cover .details {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.cover .details p {
    color: var(--color-light-color);
    margin-bottom: .6rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-family-poppins);
}

.cover .details .mini-languages img {
    width: 28px;
    height: 28px;
}

.box-projects .description {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .9rem 1.2rem .7rem 1.2rem;
    background-color: var(--color-box-color);
    border-radius: 0 0 1.2rem 1.2rem;
    cursor: pointer;
}

.box-projects .description p {
    color: var(--color-light-color);
    font-size: .8rem;
    font-weight: 500;
    font-family: var(--font-family-poppins);
}

.box-projects .description a {
    display: inline-block;
    width: fit-content;
    color: var(--color-light-color);
    padding: .35rem .9rem;
    margin-left: .5rem;
    border: 1px solid var(--color-primary-color);
    border-radius: 1.2rem;
    font-weight: 500;
    font-size: .8rem;
    font-family: var(--font-family-poppins);
    text-decoration: none;
    animation: backgroundScale 1s .5s forwards;
}

.box-projects:hover .details,
.box-projects:hover .cover::before {
    display: none;
    visibility: hidden;
    animation: fade 1s;
}

.box-projects:hover .description {
    display: flex;
    animation: showDown .5s forwards;
    z-index: -20;
}

#s-contact {
    padding: 8rem 0;
    background-color: var(--color-body2);
}

.container-contact {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.container-contact h2 {
    font-size: 2rem;
    color: var(--color-light-color);
    padding-bottom: 4rem;
    font-weight: 600;
    text-align: center;
}

.box-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
}

.box-contact a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    text-decoration: none;
    transition: 0.2s;
}

.box-contact a:hover {
    transform: scale(1.2);
}

.box-contact a .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #212121;
    border-radius: 50%;
}

.box-contact a .icon img {
    width: 36px;
    height: 36px;
}

.box-contact a span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-light-color);
}

.box-contact a p {
    font-weight: 500;
    color: var(--color-grey-color);
    font-size: 1rem;
    list-style: none;
}

.s-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 5rem;
    border-top: 1px solid var(--color-box-color);
}

.s-footer p {
    color: var(--color-light-color);
    font-size: 1.1rem;
    font-family: var(--font-family-poppins);
}

.s-footer p span {
    color: var(--color-primary-color);
}

.js-section {
    opacity: 0;
    transition: .5s;
    transform: translateX(-10rem);
}

.js-section.active {
    transform: translateX(0);
    opacity: 1;
}

body.light-mode{
    background-color: var(--color-body-ligthMode);
}

body.light-mode #s-skills, body.light-mode #s-contact{
    background-color: var(--color-body2-ligthMode);
}

body.light-mode h2, body.light-mode h1, body.light-mode .actions-choose_contact ,body.light-mode .box-contact span, body.light-mode .s-footer p{
    color: var(--color-box-color);
}

body.light-mode .actions-choose_contact:hover{
    color: var(--color-light-color);
}
